
@using Sids.Prodesp.UI.Areas.PagamentoContaDer.Models
@using System.Globalization
@model IEnumerable<ArquivoRemessaFiltroGridViewModel>

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");
}

<script>
    var objExc = "Preparacao De Arquivo de Remessa";
    var urld = '@Url.Action("Delete", "ArquivoRemessa")';
    var urla = "";

    function CreateUrl(tipoId) {
        urla = '/PagamentoContaDer/ArquivoRemessa/Bloqueio?tipo=' + tipoId;
    }

    function Edit(id, editar) {

        if (editar) {
            AbrirModal("Arquivo de Remessa transmitido com sucesso, não são permitidas alterarações após a transmissão.");
            return false;
        }

        if (navigator.onLine != true) {
            AbrirModal("Erro de conexão");
            return false;
        }

        AbrirDetalhe('@Url.Action("Edit")' + '?id=' + id + '&tipo=a');
        @*AbrirDetalhe('@Url.Action("EditByList")' + '?id=' + id + '&tipoId=' + tipoId + '&tipo=a');*@
    }
</script>


<div class="row">
    <div class="col-md-10">
        <h3 class="margT0 tituloItensPagina">Resultado da Busca</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <label class="margR10">
            <input type="checkbox" id="idSelecionar" name="nmRetransmitirTodos" value="0" />
            <small class="margL10">Selecionar Todos</small>
        </label>
        <button id="btnReTransmitir" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-share"></i>Retransmitir
        </button>
    </div>
</div>

<br />


<div class="margT0">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12" style="overflow: auto">
            <form method="post" action=@Url.Content("~/PagamentoDer/" + controller+ "/DownloadFile/") id="frmExport">
                <table id="tblPesquisa" class="_tbDataTables table dataTable table-condensed table-striped small">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().NumeroGeracao)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().CodigoConta)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().DataTrasmitido)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().DataPagamento)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().QtOpArquivo)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().ValorTotal)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().Cancelado)</th>
                            <th>@Html.LabelFor(x => x.FirstOrDefault().TransmitidoProdesp)</th>

                            <th><label>Todos</label></th>
                            <th><label>Ações</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td>@Html.DisplayFor(modelItem => item.NumeroGeracao)</td>
                                <td>@Html.DisplayFor(modelItem => item.CodigoConta)</td>
                                <td>@Html.DisplayFor(modelItem => item.DataTrasmitido)</td>
                                <td>@Html.DisplayFor(modelItem => item.DataPagamento)</td>
                                <td>@Html.DisplayFor(modelItem => item.QtOpArquivo)</td>
                                <td>R$ @string.Format(CultureInfo.GetCultureInfo("pt-BR"), "{0:C}", (Convert.ToDecimal(item.ValorTotal) / 100).ToString("N2"))</td>
                                <td>@Html.DisplayFor(modelItem => item.Cancelado)</td>
                                <td><text title="@item.MensagemProdesp">@Html.DisplayFor(modelItem => item.TransmitidoProdesp)</text></td>

                                @if (item.CadastroCompleto && item.TransmitidoProdesp != "Sucesso")
                                {
                                    <td class="text-center"><input type="checkbox" data-button='Transmitir' class="idRetrasmitir margL5" name="nmRetransmitir" value="@item.Id" /></td>
                                }
                                else
                                {
                                    <td></td>
                                }

                                <td style="width: 100px;">
                                    @if (item.TransmitidoProdesp != "Sucesso")
                                    {
                                        <button class="btn btn-xs btn-info margL7" type="button" hidden="hidden" data-button="Editar" title="Alterar" onclick="Edit(@item.Id, @(item.TransmitidoProdesp == "Sucesso" ? "true" : "false"))"><i class="fa fa-edit"></i></button>

                                    }

             
                                        <button class="btn btn-xs btn-primary margL7" type="button" data-button="Visualizar" title="Visualizar" onclick="AbrirDetalhe('@Url.Action("Edit", new { id = item.Id, tipo = "c" })')"><i class="fa fa-search"></i></button>


                                    @*<button class="btn btn-xs btn-success margL7" type="button" id="Create" data-button="Cadastrar" title="Cadastar A partir desta" onclick="AbrirDetalhe('@Url.Action("CreateThis", new {id = item.Id})')"><i class="fa fa-plus"></i></button>*@
                                   
                                    @if (item.TransmitidoProdesp == "Sucesso")
                                    {
                                        <button class="btn btn-xs margL7" style="background-color:brown" type="button" data-button="Visualizar" title="Visualizar Arquivo Remessa(Preparado)" onclick="AbrirDetalhe('@Url.Action("EditPrep", new {id = item.Id, tipo = "c"})')"><i class="fa fa-inverse fa-television"></i></button>

                                    }


                                     @if (item.TransmitidoProdesp == "Sucesso" && item.Cancelado == "Não")
                                    {
                                        <button class="btn btn-xs btn-warning margL7" type="button" data-button="Imprimir" title="Imprimir" onclick="ImprimirOp(@item.Id)"><i class="fa fa-print"></i></button>

                                    }
                                    @if (item.TransmitidoProdesp == "Sucesso" && item.Cancelado == "Não")
                                    {
                                        <button class="btn btn-xs btn-danger margL7" type="button" data-button="Cancelar" title="Cancelar" onclick="CancelarOpApoio('@item.Id');"><i class="fa fa-close"></i></button>
                                    }
                                    @if (item.TransmitidoProdesp != "Sucesso")
                                    {
                                        <button class="btn btn-xs btn-danger margL7" type="button" data-button="Excluir" id="@item.Id" name="@item.Id" title="Excluir" onclick="ModalSistema(true, 'Excluir', 'Excluir', objExc, @item.Id, this)"><i class="fa fa-trash"></i></button>
                                        @*<button class="btn btn-xs btn-danger margL7" type="button" data-button="Excluir" id="@item.Id" name="@item.Id" title="Excluir" onclick="ModalSistema(true,@item.Id, 'Excluir', '#modalConfirmaExclusao', objExc, this)"><i class="fa fa-trash"></i></button>*@



                                    }


                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
