@using Sids.Prodesp.UI.Areas.PagamentoContaUnica.Models

@model Sids.Prodesp.Model.Entity.PagamentoContaUnica.PreparacaoPagamento.PreparacaoPagamento

@{
    var tipo = Request.QueryString["tipo"];

    ViewBag.Title = (Model.Id > 1 ? (tipo == "a" || tipo == "i" ? "Alterar Preparação " : "Visualizar Preparação ") : "Cadastrar Preparação ") + " de Pagamento ";

    Layout = "~/Views/Shared/_Layout.cshtml";
    string msgRetorno = ViewBag.MsgRetorno;

    var area = ViewContext.RouteData.DataTokens["area"];
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    var action = ViewContext.RouteData.GetRequiredString("action");
    var rotuloOpInicial = "Nº da Ordem de Pagamento Incial";
    var rotuloOpFinal = "Nº da Ordem de Pagamento Final";

    bool transmitirProdesp = Convert.ToBoolean(Model.TransmitirProdesp);

}

<script>
    window.area = @Html.Raw(Json.Encode(area));
    window.controller = @Html.Raw(Json.Encode(controller));
    window.action = @Html.Raw(Json.Encode(action));

    window.Entity = @Html.Raw(Json.Encode(Model));
    var usuario = @Html.Raw(Json.Encode(ViewBag.Usuario));

    var obj = 'PreparacaoDePagamento';
    var ModelItem = @Html.Raw(Json.Encode(Model));
    var urlVoltar = '@Url.Action("AtualizarIndex", new { Area = "PagamentoContaUnica" })';
</script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<div class="col-md-12">
    <h2>@ViewBag.Title</h2>

    <div id="divPainelCadastrar" class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("DownloadFile", "PreparacaoDePagamento", FormMethod.Post, new { name = "frmPainelCadastrar", id = "frmPainelCadastrar" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("Codigo", Model.Id, new { @id = "Codigo" })


                <div class="row">
                    <div class="col-sm-12 col-lg-3 col-md-3 form-group-sm siafem">
                        @Html.LabelFor(model => model.NumeroOpInicial, rotuloOpInicial, new { @class = "control-label label-form-DER prodesp" })<span class="text-danger"></span>
                        @Html.TextBoxFor(model => model.NumeroOpInicial, new { @class = "form-control lockProdesp numeroOp", @ReadOnly = "True", style = "width:90%" })
                    </div>

                    <div class="col-sm-12 col-lg-3 col-md-3 form-group-sm siafem">
                        @Html.LabelFor(model => model.NumeroOpFinal, rotuloOpFinal, new { @class = "control-label label-form-DER prodesp" })<span class="text-danger"></span>
                        @Html.TextBoxFor(model => model.NumeroOpFinal, new { @class = "form-control lockProdesp numeroOp", @ReadOnly = "True", style = "width:90%" })
                    </div>
                </div>



                if (Model.TransmitidoProdesp || Model.Id > 0)
                {
                    <div class='row'>
                        <div class='col-sm-12 col-lg-12 col-md-12 form-group-sm form-group'>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-12 col-lg-2 col-md-2 form-group form-group-sm prodesp">
                            @Html.LabelFor(model => model.DataCadastro, new { @class = "control-label label-form-DER prodesp" })<span class="text-danger"></span>
                            @Html.TextBoxFor(model => model.DataCadastro, new { @class = "form-control lockProdesp data", @ReadOnly = "True" })
                        </div>

                        @if (Model.TransmitidoProdesp)
                        {

                            <div class="col-sm-12 col-lg-2 col-md-2 form-group form-group-sm prodesp">
                                @Html.LabelFor(model => model.DataTransmitidoProdesp, new { @class = "control-label label-form-DER prodesp" })<span class="text-danger"></span>
                                @Html.TextBoxFor(model => model.DataTransmitidoProdesp, new { @class = "form-control lockProdesp data", @ReadOnly = "True" })
                            </div>
                        }

                    </div>
                }

                if (msgRetorno != null)
                {
                    <div class='row'>
                        <div class='col-sm-12 col-lg-12 col-md-12 form-group-sm form-group'>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-5 col-md-5  form-group-sm form-group has-feedback">
                            <div id="retornoTransmissao">
                                <label class="control-label label-form-DER"><span class="text-danger"></span>Msg Retornada da Transmissão</label>
                                <div class="input-group-sm">
                                    @Html.TextArea("MsgRetorno", msgRetorno, new { @class = "form-control", @ReadOnly = "True" })
                                </div>
                            </div>
                        </div>
                    </div>
                }

                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_DadoTipoPreparacaoPagamento.cshtml", ViewBag.DadoTipoPreparacao as DadoTipoPreparacaoPagamentoViewModel)
                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_DadoPreparacaoPagamento.cshtml", ViewBag.DadoPreparacaoPagamento as DadoPreparacaoPagamentoViewModel)
                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_DadoAssinatura.cshtml", ViewBag.DadoAssinatura as Sids.Prodesp.UI.Areas.Empenho.Models.DadoAssinaturaViewModel)
                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_PesquisaDocumentoGerador.cshtml", ViewBag.PesquisaDocumentoGerador as PesquisaDocumentoGeradorViewModel)
                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_DadoReferencia.cshtml", ViewBag.DadoReferencia as Sids.Prodesp.UI.Areas.LiquidacaoDespesa.Models.DadoReferenciaViewModel)
                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_DadoPreparacaoPagamentoCredor.cshtml", ViewBag.DadoPreparacaoPagamentoCredor as DadoPreparacaoPagamentoCredorViewModel)
                @Html.Partial("~/Areas/PagamentoContaUnica/Views/Shared/_DadoPagamentoContaUnicaContas.cshtml", ViewBag.DadoPreparacaoPagamentoContas as DadoPagamentoContaUnicaContasViewModel)
                

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="tituloItensPagina"></h3>
                        <hr class="margT10" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-12 col-md-12">
                        @if (!Model.TransmitidoProdesp)
                        {
                            <button type='button' id='btnCancelar' class='btn btn-sm btn-danger'><i class='fa fa-close'></i> Cancelar</button>
                            <button type='button' id='btnSalvar' class='btn btn-sm btn-success'><i class='fa fa-save'></i> Salvar</button>
                            <button type='button' id='btnTransmitir' class='btn btn-sm btn-primary'><i class='fa fa-share'></i> Transmitir</button>
                        }
                        else
                        {
                            <button type="button" id="btnAtualizarIndex" class="btn btn-sm btn-primary" onclick="javascript: AtualizarIndex();"><i class="fa fa-arrow-left"></i> Voltar</button>
                        }
                        <button type="button" id="btnVoltar" class="btn btn-sm btn-primary" onclick="javascript: window.history.back();"><i class="fa fa-arrow-left"></i> Voltar</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section script {
    <script src="~/Content/Bootstrap Validator/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/MaskMoney/jquery.maskMoney.js"></script>

    <script src="~/Content/js/scriptEstruturaPrograma.js"></script>
    <script src="~/Content/js/Consultas.js"></script>
    <script src="~/Content/js/scriptTransmissao.js"></script>
    <script src="~/Content/js/scriptImpressao.js"></script>
   
    <script src="~/Content/js/PagamentoContaUnica/PreparacaoPagamento.js"></script>
    <script src="~/Content/js/PagamentoContaUnica/PreparacaoPagamentoValidator.js"></script>
    <script src="~/Content/js/PagamentoContaUnica/PreparacaoPagamentoApoio.js"></script>
}









