@using Sids.Prodesp.UI.Areas.Empenho.Models

@model IEnumerable<FiltroGridViewModel>

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");

    var labelTitle = string.Empty;

    switch (controller)
    {
        case "Empenho": labelTitle = "Empenho"; break;
        case "EmpenhoReforco": labelTitle = "Ref. do Emp."; break;
        case "EmpenhoCancelamento": labelTitle = "Canc. do Emp."; break;
    }

    var lblNumeroEmpenhoProdesp = string.Format("Nº {0} Prodesp", labelTitle);
    var lblNumeroEmpenhoSiafem = string.Format("Nº {0} SIAFEM", labelTitle);
    var lblNumeroEmpenhoSiafisico = string.Format("Nº {0} SIAFISICO", labelTitle);
}

<script>
    function Edit(id, editar) {

        if (editar) {
            AbrirModal("O " + "@( labelTitle )" + " já foi transmitido, não é permitida alteração após a transmissão.");
            return false;
        }

        if (navigator.onLine != true) {
            AbrirModal("Erro de conexão");
            return false;
        }

        AbrirDetalhe('@Url.Action("Edit")' + '?id=' + id + '&tipo=a');
    }
</script>

<div class="row">
    <div class="col-md-10">
        <h3 class="margT0 tituloItensPagina">Resultado da Busca</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
        <label class="margR10">
            <input type="checkbox" id="idSelecionar" onclick="javascript: MarcaTodos();" name="nmRetransmitirTodos" value="0" />
            <small class="margL10">Selecionar Todos</small>
        </label>
        <button id="btnReTransmitir" type="button" class="btn btn-sm btn-primary">
            <i class="fa fa-share"></i>Retransmitir
        </button>
    </div>
</div>

<br />


<div class="margT0">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12" style="overflow: auto">
            <form method="post" action=@Url.Content("~/Empenho/" + controller + "/DownloadFile/") id="frmExport">
                
                <table id="tblPesquisa" class="_tbDataTables table dataTable table-condensed table-striped small no-footer">
                    @*<table id="tblPesquisa" class="_tbDataTables table dataTable table-condensed table-striped table-responsive small">*@
                        <thead>
                            <tr>

                                <th>@Html.LabelFor(x => x.FirstOrDefault().NumeroEmpenhoProdesp, lblNumeroEmpenhoProdesp)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().NumeroEmpenhoSiafem, lblNumeroEmpenhoSiafem)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().NumeroEmpenhoSiafisico, lblNumeroEmpenhoSiafisico)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().ProgramaId)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().NaturezaId)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().FonteId)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().DestinoId)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().LicitacaoId)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().ValorTotal)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().StatusProdesp)</th>
                                <th>@Html.LabelFor(x => x.FirstOrDefault().StatusSiafemSiafisico)</th>
                                @*<th>@Html.LabelFor(x => x.FirstOrDefault().StatusSiafemSiafisico)</th>*@
                                <th><label>Todos</label></th>
                                <th><label>Ações</label></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>@Html.DisplayFor(modelItem => item.NumeroEmpenhoProdesp)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumeroEmpenhoSiafem)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NumeroEmpenhoSiafisico)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ProgramaId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NaturezaId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.FonteId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DestinoId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LicitacaoId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ValorTotal)</td>
                                    
                                    <td><text title="@(item.MensagemServicoProdesp)">@Html.DisplayFor(modelItem => item.StatusProdesp)</text></td>
                                    
                                    <td><text title="@(item.MensagemSiafemSiafisico)">@Html.DisplayFor(modelItem => item.StatusSiafemSiafisico)</text></td>

                                    @*<td><text title="@(item.MensagemServicoSiafisico)">@Html.DisplayFor(modelItem => item.StatusSiafisico)</text></td>*@

                                    @if (item.CadastroCompleto && ((item.TransmitirSiafem && !item.TransmitidoSiafem) || (item.TransmitirSiafisico && !item.TransmitidoSiafisico) || (item.TransmitirProdesp && !item.TransmitidoProdesp)))
                                    {
                                        <td class="text-center"><input type="checkbox" data-button='Transmitir' class="idRetrasmitir margL5" name="nmRetransmitir" value="@item.Id" /></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }

                                    <td>
                                        <button class="btn btn-xs btn-info margL7" type="button" hidden="hidden" data-button="Editar" title="Alterar" onclick="Edit(@item.Id, @(((item.TransmitidoSiafem == true || item.TransmitidoSiafisico == true) && item.TransmitidoProdesp == true) ? "true" : "false"))"><i class="fa fa-edit"></i></button>
                                        <button class="btn btn-xs btn-primary margL7" type="button" data-button="Visualizar" title="Visualizar" onclick="AbrirDetalhe('@Url.Action("Edit", new {Area = "Empenho", id = item.Id, tipo = "c"})')"><i class="fa fa-search"></i></button>
                                        @if (item.TransmitidoSiafem || item.TransmitidoSiafisico)
                                        {
                                            <button class="btn btn-xs btn-primary margL7" type="button" data-button="Imprimir" title="Imprimir" onclick="Imprimir(@item.Id, '@controller', $('#frmExport'))"><i class="fa fa-print"></i></button>
                                        }
                                        @if (!item.TransmitidoSiafem && !item.TransmitidoSiafisico && !item.TransmitidoProdesp)
                                        {
                                            <button class="btn btn-xs btn-danger margL7" type="button" data-button="Excluir" id="@item.Id" name="@item.Id" title="Excluir" onclick="ModalSistema(true, '#modalConfirmaExclusao', 'Excluir', objExc, '@item.NumeroEmpenhoProdesp', this)"><i class="fa fa-trash"></i></button>
                                        }
                                        <button class="btn btn-xs btn-success margL7" type="button" id="Create" data-button="Cadastrar" title="Cadastar A partir desta" onclick="AbrirDetalhe('@Url.Action("CreateThis", new {id = item.Id})')"><i class="fa fa-plus"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </form>
        </div>
    </div>
</div>
