@using Sids.Prodesp.UI.Areas.Empenho.Models

@model ValorEmpenhoViewModel

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");

    var title = controller == "EmpenhoReforco" ? "Reforço" : "Empenho";
}

<div class="row">
    <div class="col-md-12">
        <h3 class="tituloItensPagina">Valor para @(title)</h3>
        <hr class="margT10" />
    </div>
</div>

<div class="row input-group-sm form-group has-feedback">
    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes01, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes01, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "01", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes02, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes02, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "02", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes03, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes03, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "03", @maxlength = 20 })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes04, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes04, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "04", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes05, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes05, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "05", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes06, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes06, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "06", @maxlength = 20 })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes07, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes07, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "07", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes08, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes08, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "08", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes09, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes09, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "09", @maxlength = 20 })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes10, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes10, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "10", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes11, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes11, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "11", @maxlength = 20 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Mes12, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group-sm">
            @Html.TextBoxFor(model => model.Mes12, new { @class = "form-control real lockProdesp lockSiafem lockSiafisico clearFields", @id = "Valor", @name = "12", @maxlength = 20 })
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-3 col-md-2  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Total, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        @*<div class="input-group-sm">*@
            @Html.TextBoxFor(model => model.Total, new { @class = "form-control  lockProdesp lockSiafem lockSiafisico", @ReadOnly = true, @id = "Total", @name = "Total", @maxlength = 23 })
        @*</div>*@
    </div>
</div>