@using Sids.Prodesp.UI.Areas.Movimentacao.Models

@model IEnumerable<FiltroGridViewModel>

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    ViewBag.Title = "Listar Movimentação Orçamentária";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var area = ViewContext.RouteData.DataTokens["area"];
    var action = ViewContext.RouteData.GetRequiredString("action");


}

<script>
    window.area = @Html.Raw(Json.Encode(area));
    window.controller = @Html.Raw(Json.Encode(controller));
    window.action = @Html.Raw(Json.Encode(action));

    var obj = "Movimentacao";
    var objExc = "Movimentacao";
    var urld = '@Url.Action("Delete", "Movimentacao")';

    var usuario = @Html.Raw(Json.Encode(ViewBag.Usuario));
    var ModelItem = @Html.Raw(Json.Encode(Model));
    var cenario = @Html.Raw(Json.Encode(ViewBag.Cenario));
    var estruturaInfo = @Html.Raw(Json.Encode(ViewBag.Estrutura));
    var programasInfo = @Html.Raw(Json.Encode(ViewBag.Programas));

</script>

<link rel="stylesheet" href="~/Content/DataTable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/DataTable/css/jquery.dataTables.min.css" />


<div class="col-md-12">
    <h2>Pesquisa de Movimentação Orçamentária</h2>

        @Html.Partial("_Mensagem")
        @Html.Partial("_modalEstorno")
        @Html.Partial("_modalImprimir")


    <div class="panel panel-default" id="">
        <div class="panel-body">

            @using (Html.BeginForm("Index", "Movimentacao", FormMethod.Post, new { name = "form_filtro", id = "form_filtro" }))
            {
                Html.RenderPartial("_Filtro", ViewBag.Filtro as MovimentacaoFiltroViewModel);
            }

            @Html.Partial("~/Areas/Movimentacao/Views/Movimentacao/_FiltroGrid.cshtml", Model)

        </div>
    </div>
</div>


@section script{


    <script src="~/Content/Bootstrap Validator/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/MaskMoney/jquery.maskMoney.js"></script>
<script src="~/Content/js/Movimentacao/MovimentacaoListar.js"></script>
    @*<script src="~/Content/js/PagamentoContaUnica/PreparacaoPagamentoListar.js"></script>*@
    @*<script src="~/Content/js/PagamentoContaDer/ArquivoRemessaListar.js"></script>*@
    <script src="~/Content/js/scriptTransmissao.js"></script>
    <script src="~/Content/js/Consultas.js"></script>
    <script src="~/Content/js/scriptImpressao.js"></script>
}