@model List<Sids.Prodesp.UI.Areas.PagamentoContaDer.Models.ConfirmacaoPagamentoFiltroViewModel>
@{
    ViewBag.Title = "FiltroAtualizar";
}

@Html.HiddenFor(model => model.FirstOrDefault().PesquisaRetorno, new { id = "PesquisaRetorno", name = "PesquisaRetorno" })
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 form-inline">
        <label class="label-control">Informe o sistema:</label>
        <input for="TipoSistema" type="checkbox" name="sistemaDer1" value="Prodesp" checked="checked"/> Prodesp
        <input for="TipoSistema" type="checkbox" name="sistemaDer1" value="SIAFEM" checked="checked"/> SIAFEM
    </div>
</div>
<div class="row padB20">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 id="tituloDesdobramento">Tipo de Confirmação</h3>
        <hr style="margin-left: 15px; margin-right: 15px;" />
        <div class="row">
            <div class="col-md-4 col-lg-4">
            @if (@ViewBag.TipoConfirmacao == "1")
            {
                @Html.LabelFor(x => x.FirstOrDefault().TipoConfirmacao, new { @class = "label-control", id = "lblTipoConfirmacao", name = "lblTipoConfirmacao" })
                <select class="form-control" id="opcoesConfirmacao" name="opcoesConfirmacao" disabled="disabled">
                    <option value="1" selected="selected">Confirmação de Pagamento Por Documento</option>
                </select>
            }
            else if (@ViewBag.TipoConfirmacao == "2")
            {
                @Html.LabelFor(x => x.FirstOrDefault().TipoConfirmacao, new { @class = "label-control", id = "lblTipoConfirmacao", name = "lblTipoConfirmacao" })
                <select class="form-control" id="opcoesConfirmacao" name="opcoesConfirmacao" disabled="disabled">
                    <option value="2" selected="selected">Confirmação de Pagamento Por Lote</option>
                </select>
            }
            </div>
        </div>
    </div>
</div>

<div class="pagamentoPorDocumentoC" style="display:none">
    <div class="row padB20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 id="tituloDesdobramento">Consulta Pagamentos a Confirmar</h3>
            <hr style="margin-left: 15px; margin-right: 15px;" />
            <div class="row">
                    <div class="col-md-3 col-lg-3 form-group-sm form-group has-feedback">
                        @Html.LabelFor(x => x.FirstOrDefault().lstTipoDocumento, new { @class = "control-label label-form-DER", id = "lblTipoDocumento", name = "lblTipoDocumento" })
                        <div class="input-group-sm">
                            @Html.DropDownListFor(x => x.FirstOrDefault().lstTipoDocumento, (SelectList)ViewBag.DropdownTipoDocumentoCadastro, "Selecione", new { @class = "form-control", @id = "TipoDocumento", Name = "TipoDocumento" })
                        </div>
                    </div>
                            <div class="col-md-2 col-lg-2 form-group-sm form-group has-feedback">
                                @Html.LabelFor(x => x.FirstOrDefault().NumeroDocumento, new { @class = "control-label label-form-DER", id = "lblNumeroDocumento", name = "lblNumeroDocumento" })
                                @Html.TextBoxFor(x => x.FirstOrDefault().NumeroDocumento, new { @class = "form-control", id = "NumeroDocumento", name = "NumeroDocumento" })
                                @Html.ValidationMessageFor(x => x.FirstOrDefault().NumeroDocumento)
                            </div>
                            <div class="col-md-3 col-lg-3 form-group-sm form-group has-feedback">
                                @Html.LabelFor(x => x.FirstOrDefault().lstTipoPagamento, new { @class = "control-label label-form-DER", id = "lblTipoPagamento", name = "lblTipoPagamento" })
                                <div class="input-group-sm">
                                    @Html.DropDownListFor(x => x.FirstOrDefault().lstTipoPagamento, (SelectList)ViewBag.DropdownListTipoPagamento, "Selecione", new { @class = "form-control", @id = "TipoPagamento", Name = "TipoPagamento" })
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2 form-group-sm form-group has-feedback">
                                @Html.LabelFor(x => x.FirstOrDefault().DataConfirmacao, new { @class = "control-label label-form-DER", id = "lblDataConfirmacao", name = "lblDataConfirmacao" })
                                <div class="input-group-sm">
                                    @Html.TextBoxFor(x => x.FirstOrDefault().DataConfirmacao, new { @class = "form-control data datepicker data", data_intervalo = "inicial", maxlength = 10, id = "DataInicial", name = "DataConfirmacao", placeholder = "__/__/____" })
                                    @Html.ValidationMessageFor(x => x.FirstOrDefault().DataConfirmacao)
                                </div>
                            </div>
                            <div class="col-md-2 col-lg-2 form-group-sm" style="margin-top: 25px;">
                                <button type='submit' id='btnPesquisar' class='btn-sm btn btn-primary'><i class='glyphicon glyphicon-search'></i> Consultar</button>
                            </div>
            </div>
        </div>
    </div>
</div>
<div class="pagamentoPorLoteC" style="display:none">
    <div class="row padB20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 id="tituloDesdobramento">Consulta Pagamentos a Confirmar</h3>
            <hr style="margin-left:15px; margin-right:15px;" />
            <div class="row">
                    <div class="col-md-2 col-lg-2 form-group-sm form-group has-feedback">
                        @Html.LabelFor(x => x.FirstOrDefault().NumeroConta, new { @class = "control-label label-form-DER", id = "lblCodigoConta", name = "lblCodigoConta" })
                        @Html.TextBoxFor(x => x.FirstOrDefault().NumeroConta, new { @class = "form-control", id = "NumeroConta", name = "NumeroConta" })
                        @Html.ValidationMessageFor(x => x.FirstOrDefault().NumeroConta)
                    </div>
                                <div class="col-md-2 col-lg-2 form-group-sm form-group has-feedback">
                                    @Html.LabelFor(x => x.FirstOrDefault().DataPreparacao, new { @class = "control-label label-form-DER", id = "lblDataPreparacao", name = "lblDataPreparacao" })
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(x => x.FirstOrDefault().DataPreparacao, new { @class = "form-control data datepicker data", data_intervalo = "inicial", maxlength = 10, id = "DataInicial", name = "dataPreparacao", placeholder = "" })
                                        @Html.ValidationMessageFor(x => x.FirstOrDefault().DataPreparacao)
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-3 form-group-sm form-group has-feedback">
                                    <label class="control-label label-form-DER"><span class="text-danger"></span>Tipo de Pagamento</label>
                                    @Html.LabelFor(x => x.FirstOrDefault().lstTipoPagamento, new { @class = "control-label label-form-DER", id = "lblTipoPagamento", name = "lblTipoPagamento" })
                                    <div class="input-group-sm">
                                        @Html.DropDownListFor(x => x.FirstOrDefault().lstTipoPagamento, (SelectList)ViewBag.DropdownListTipoPagamento, "Selecione", new { @class = "form-control", @id = "TipoPagamento", Name = "TipoPagamento" })
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2 form-group-sm form-group has-feedback">
                                    @Html.LabelFor(x => x.FirstOrDefault().DataConfirmacao, new { @class = "control-label label-form-DER", id = "lblDataConfirmacao", name = "lblDataConfirmacao" })
                                    <div class="input-group-sm">
                                        @Html.TextBoxFor(x => x.FirstOrDefault().DataConfirmacao, new { @class = "form-control data datepicker data", id = "DataConfirmacao", name = "DataConfirmacao", placeholder = "__/__/____" })
                                        @Html.ValidationMessageFor(x => x.FirstOrDefault().DataConfirmacao)
                                    </div>
                                </div>
                                <div class="col-md-2 col-lg-2 form-group-sm" style="margin-top: 25px;">
                                    <button type='submit' id='btnPesquisar' class='btn-sm btn btn-primary'><i class='glyphicon glyphicon-search'></i> Consultar</button>
                                </div>
            </div>
        </div>
    </div>
</div>
    
