@model List<Sids.Prodesp.UI.Areas.PagamentoContaDer.Models.ConfirmacaoPagamentoFiltroViewModel>
@{
    ViewBag.Title = "FiltroCadastro";
}

@Html.HiddenFor(model => model.FirstOrDefault().PesquisaRetorno, new { id = "PesquisaRetorno", name = "PesquisaRetorno" })


<div class="dadosBuscaPagamentosConfirmar">
        @Html.Hidden("transmitirNls", false)
    @*<div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 form-inline">
                <label class="label-control">Informe o sistema:</label>
                <input for="TipoSistema" type="checkbox" name="sistemaDer1" value="Prodesp" checked="checked" disabled/> Prodesp
                <input for="TipoSistema" type="checkbox" name="sistemaDer1" value="SIAFEM"  /> SIAFEM
            </div>
        </div>*@
    <div class="row margT10">
        <div class="col-sm-12 col-lg-12 col-md-12 form-group-sm form-group has-feedback">
            <div class="input-group-sm">
                <span>Informe o sistema:</span>

                @Html.Label("transmitirProdesp", "Prodesp", new { @class = "label-inline margL10" })
                @Html.CheckBox("transmitirProdesp", new { @id = "transmitirProdesp", @name = "transmitir", @disabled = "disabled", @checked = "checked" })

                @Html.Label("transmitirSiafem", "SIAFEM", new { @class = "label-inline margL10" })
                @Html.CheckBox("transmitirSiafem", new { @id = "transmitirSiafem", @name = "transmitir", @class = "lockSiafem" })

            </div>
        </div>
    </div>


    <div class="row padB20">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 id="tituloDesdobramento">Tipo de Confirmação</h3>
            <hr style="margin-left: 15px; margin-right: 15px;" />
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    @Html.LabelFor(x => x.FirstOrDefault().TipoConfirmacao, new { @class = "label-control", id = "lblTipoConfirmacao", name = "lblTipoConfirmacao" })
                    @Html.DropDownListFor(x => x.FirstOrDefault().TipoConfirmacao, (SelectList)ViewBag.DropdownTipoConfirmacao, "Selecione", new { @class = "form-control", @id = "TipoConfirmacao", Name = "opcoesConfirmacao" })
                </div>
            </div>
        </div>
    </div>


    <div id="divFiltroPagamentosConfirmar" style="display:none">
        <div class="row padB20">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h3 id="tituloDesdobramento">Consulta Pagamentos a Confirmar</h3>
                <hr style="margin-left: 15px; margin-right: 15px;" />
                <div class="row">
                    <div class="col-md-3 col-lg-3 form-group-sm form-group pagamentoPorDocumentoC">
                        @Html.Label("Tipo de Documento", new { @class = "control -label label-form-DER", id = "lblTipoDocumento", name = "lblTipoDocumento" })
                        <div class="input-group-sm">
                            @Html.DropDownList("IdTipoDocumento", (SelectList)ViewBag.DropdownTipoDocumentoCadastro, "Selecione", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 form-group-sm form-group pagamentoPorLoteC">
                        @Html.LabelFor(x => x.FirstOrDefault().NumeroConta, new { @class = "control-label label-form-DER", id = "lblCodigoConta", name = "lblCodigoConta" })
                        @Html.TextBoxFor(x => x.FirstOrDefault().NumeroConta, new { @class = "form-control", id = "NumeroConta", name = "NumeroConta" })
                    </div>
                    <div class="col-md-2 col-lg-2 form-group-sm form-group pagamentoPorLoteC">
                        @Html.LabelFor(x => x.FirstOrDefault().DataPreparacao, new { @class = "control-label label-form-DER", id = "lblDataPreparacao", name = "lblDataPreparacao" })
                        <div class="input-group-sm">
                            @Html.TextBoxFor(x => x.FirstOrDefault().DataPreparacao, new { @class = "form-control data datepicker data", data_intervalo = "inicial", maxlength = 10, id = "DataPreparacao", name = "dataPreparacao", placeholder = "" })
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 form-group-sm form-group pagamentoPorDocumentoC">
                        @Html.LabelFor(x => x.FirstOrDefault().NumeroDocumento, new { @class = "control-label label-form-DER", id = "lblNumeroDocumento", name = "lblNumeroDocumento" })
                        @Html.TextBoxFor(x => x.FirstOrDefault().NumeroDocumento, new { @class = "form-control", id = "NumeroDocumento", name = "NumeroDocumento" })
                    </div>
                    <div class="col-md-3 col-lg-3 form-group-sm form-group pagamentoPorDocumentoC pagamentoPorLoteC">
                        @Html.LabelFor(x => x.FirstOrDefault().lstTipoPagamento, new { @class = "control-label label-form-DER", id = "lblTipoPagamento", name = "lblTipoPagamento" })
                        <div class="input-group-sm">
                            @Html.DropDownListFor(x => x.FirstOrDefault().lstTipoPagamento, (SelectList)ViewBag.DropdownListTipoPagamento, "Selecione", new { @class = "form-control", @id = "TipoPagamento", Name = "TipoPagamento" })
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 form-group-sm form-group">
                        @Html.LabelFor(x => x.FirstOrDefault().DataConfirmacao, new { @class = "control-label label-form-DER", id = "lblDataConfirmacao", name = "lblDataConfirmacao" })
                        <div class="input-group-sm">
                            @Html.TextBoxFor(x => x.FirstOrDefault().DataConfirmacao, new { @class = "form-control data datepicker data", data_intervalo = "inicial", maxlength = 10, id = "DataConfirmacao", name = "DataConfirmacao", placeholder = "__/__/____" })
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2 form-group-sm" style="margin-top: 25px;">
                        <button type='submit' id='btnConsultarPagamentosConfirmar' class='btn-sm btn btn-primary btnOcultarAoVisualizar'><i class='glyphicon glyphicon-search'></i> Consultar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>