@using Sids.Prodesp.UI.Areas.PagamentoContaDer.Models

@model IEnumerable<ConfirmacaoPagamentoFiltroViewModel>

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    ViewBag.Title = "Listar Confirmação de Pagamento";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var area = ViewContext.RouteData.DataTokens["area"];
    var action = ViewContext.RouteData.GetRequiredString("action");
}

<script>
    window.area = @Html.Raw(Json.Encode(area));
    window.controller = @Html.Raw(Json.Encode(controller));
    window.action = @Html.Raw(Json.Encode(action));

    var obj = "ConfirmacaoPagamento";
    var objExc = "ConfirmacaoPagamento";
    var urld = '@Url.Action("Delete", "ConfirmacaoPagamento")';

    var usuario = @Html.Raw(Json.Encode(ViewBag.Usuario));
    
    var cenario = @Html.Raw(Json.Encode(ViewBag.Cenario));
</script>

<div class="col-md-12">
    <h1>Pesquisa Confirmação de Pagamento</h1>

    @Html.Partial("_Mensagem")

    <div class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("Index", "ConfirmacaoPagamento", FormMethod.Post, new { name = "form_filtro", id = "form_filtro" }))
            {
                @Html.AntiForgeryToken()
                Html.RenderPartial("_Filtro", ViewBag.Filtro as ConfirmacaoPagamentoFiltroViewModel);
            }
            @Html.Partial("~/Areas/PagamentoContaDer/Views/ConfirmacaoPagamento/_FiltroGrid.cshtml", Model)
        </div>
    </div>
</div>

@section script{
    <script src="~/Content/Bootstrap Validator/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/MaskMoney/jquery.maskMoney.js"></script>
    <script src="~/Content/js/ConfirmacaoPagamento/ConfirmacaoPagamento.js"></script>
    <script src="~/Content/js/scriptImpressao.js"></script>
    <script src="~/Content/js/scriptTransmissao.js"></script>

    @Styles.Render("~/bundles/ConfirmacaoPagamentoCss")
    @Scripts.Render("~/bundles/ConfirmacaoPagamentoJs")
}


@*<script type="text/javascript">
    var objExc = "Confirmacao Pagamento";

    function Altera(id) {
        AbrirDetalhe('@Url.Action("Altera")' + '?id=' + id + '?item=' + item);
    }

    function Visualiza(id) {
        AbrirDetalhe('@Url.Action("Visualiza")' + '?id=' + id + '?item=' + item);
    }

    function Exclui(id) {
        AbrirDetalhe('@Url.Action("Exclui")' + '?id=' + id + '?item=' + item);
    }

</script>

@Html.HiddenFor(x => x.FirstOrDefault().selecionados, new { id = "selecionados", name = "selecionados" })
<div class="col-sm-11 col-lg-11 col-md-11">
    <div class="row">
        <div class="col-md-10">
            <h3 class="margT0 tituloItensPagina">Resultado da Busca</h3>
        </div>
    </div>
    <div class="col-sm-11 col-lg-11 col-md-11">
        <div class="row">

            <table id="tblPesquisa" class="_tbDataTables table dataTable table-condensed table-striped small" width="50%" style="max-width:800px;">
                <thead>
                    <tr>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().CodigoAgrupamentoConfirmacaoPagamento)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().Orgao)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().TipoDespesa)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().NumeroDocumento)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().NomeReduzidoCredor)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().CPF_CNPJ)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().Valor)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().DataConfirmacao)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().OrigemConfirmacao)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().StatusProdesp)</center></th>
                        <th><center>@Html.LabelFor(x => x.FirstOrDefault().NumeroNLBaixaRepasse)</center></th>
                        <th class="sorting_disabled" rowspan="1" colspan="1"><center>Todos <input type="checkbox" class="margL26 checkTodosConfirmacaoPagamento" name="trasmitirTodos" id="trasmitirTodos" onclick="javascript: CheckAll();"></center></th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-center">
                            <td><center>@Html.DisplayFor(modelItem => item.CodigoAgrupamentoConfirmacaoPagamento)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.Orgao)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.TipoDespesa)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.NumeroDocumento)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.NomeReduzidoCredor)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.CPF_CNPJ)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.Valor)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.DataConfirmacao)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.OrigemConfirmacao)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.StatusProdesp)</center></td>
                            <td><center>@Html.DisplayFor(modelItem => item.NumeroNLBaixaRepasse)</center></td>
                            <td><center><input data-id="@item.id_confirmacao_pagamento_item" class="chkitens" type="checkbox" title="Selecione" onclick="javascript:ShowExt();"></center></td>
                            <td>
                                <center>
                                    <button class="btn btn-xs btn-info" type="button" id="Alterar" data-button="Alterar" title="Aterar à partir desta" onclick="AbrirDetalhe('@Url.Action("Altera","ConfirmacaoPagamento", new {id = item.Id, item = item.id_confirmacao_pagamento_item })')"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-xs btn-primary" type="button" id="Visualiar" data-button="Visualizar" title="Visualizar à partir desta" onclick="AbrirDetalhe('@Url.Action("Visualiza","ConfirmacaoPagamento", new {id = item.Id, item = item.id_confirmacao_pagamento_item })')"><i class="fa fa-search"></i></button>
                                    <button class="btn btn-xs btn-danger exclui2" type="button" id="Excluir" data-button="Excluir" title="Excluir à partir desta" onclick="AbrirDetalhe('@Url.Action("Exclui","ConfirmacaoPagamento", new {id = item.Id, item= item.id_confirmacao_pagamento_item })')"><i class="fa fa-trash"></i></button>
                                </center>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-sm-11 col-lg-11 col-md-11">
        <div class="row">
            @using (Ajax.BeginForm("Retransmitir", "ConfirmacaoPagamento", new AjaxOptions { HttpMethod = "Post" }, new { id = "frm-filtro-ConfirmacaoPagamento" }))
            {
                <button type="submit" class="btn btn-success btn-sm botao col-lg-3 col-md-1 right" id="retransmitir" name="retransmitir" style=""><span class="glyphicon glyphicon-share-alt"></span> Retransmitir Selecionados</button>
            }
        </div>
    </div>
</div>*@
