@using Sids.Prodesp.UI.Areas.PagamentoContaUnica.Models

@model IEnumerable<FiltroGridViewModel>

@{
    var controller = ViewContext.RouteData.GetRequiredString("controller");
    ViewBag.Title = "Listar Programação de Desembolso";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Filtro = ViewBag.Filtro ?? new FiltroViewModel();
    var area = ViewContext.RouteData.DataTokens["area"];
    var action = ViewContext.RouteData.GetRequiredString("action");
}


<script>
    var area = @Html.Raw(Json.Encode(area));
    var controller = @Html.Raw(Json.Encode(controller));
    var action = @Html.Raw(Json.Encode(action));
    var usuario = @Html.Raw(Json.Encode(ViewBag.Usuario));
    
</script>

<link rel="stylesheet" href="~/Content/DataTable/css/responsive.dataTables.min.css" />
<link rel="stylesheet" href="~/Content/DataTable/css/jquery.dataTables.min.css" />


<div class="col-md-12">
    <h2>Pesquisa de Programação de Desembolso</h2>

    @Html.Partial("_Mensagem")
    @Html.Partial("_modalDocumentoGerador")
    @Html.Partial("_modalBloqueioPagamento")

    <div class="panel panel-default" id="">
        <div class="panel-body">

            @using (Html.BeginForm("Index", "ProgramacaoDesembolso", FormMethod.Post, new { name = "form_filtro", id = "form_filtro" }))
            {
                Html.RenderPartial("_Filtro", ViewBag.Filtro as FiltroViewModel);
            }

            @Html.Partial("~/Areas/PagamentoContaUnica/Views/ProgramacaoDesembolso/_FiltroGrid.cshtml", Model)

        </div>
    </div>
</div>


@section script{

    <script src="~/Content/Bootstrap Validator/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/MaskMoney/jquery.maskMoney.js"></script>
    <script src="~/Content/js/PagamentoContaUnica/ProgramacaoDesembolso/ProgramacaoDesembolsoListar.js"></script>
    <script src="~/Content/js/scriptImpressao.js"></script>
    <script src="~/Content/js/scriptTransmissao.js"></script>

}