@model Sids.Prodesp.UI.Areas.PagamentoContaUnica.Models.FiltroViewModel

<div class="row">
    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(x => x.NumeroContrato, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group">
            @Html.TextBoxFor(model => model.NumeroContrato, new { @class = "form-control contrato lockProdesp", @maxlength = 13 })
        </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(x => x.CodigoAplicacaoObra, new { @class = "control-label label-form-DER" })<span class="text-danger"></span>
        <div class="input-group">
            @Html.TextBoxFor(model => model.CodigoAplicacaoObra, new { @class = "form-control obra", @maxlength = 8 })
        </div>
    </div>
</div>
<div class="row">

    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.DesdobramentoTipoId, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.DropDownListFor(model => model.DesdobramentoTipoId, Model.DesdobramentoTipoListItems, "Selecione", new { @class = "form-control" })
        </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.DocumentoTipoId, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.DropDownListFor(model => model.DocumentoTipoId, Model.DocumentoTipoListItems, "Selecione", new { @class = "form-control" })
        </div>
    </div>


    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.NumeroDocumento, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.TextBoxFor(model => model.NumeroDocumento, new { @class = "form-control", @maxlength = "18" })
        </div>
    </div>

</div>

<div class="row">

    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.StatusProdesp, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.DropDownListFor(model => model.StatusProdesp, Model.StatusProdespListItems, "Selecione", new { @class = "form-control" })
        </div>
    </div>

    <div class='col-sm-12 col-lg-2 col-md-2 form-group-sm form-group has-feedback'>
        @Html.LabelFor(model => model.DataCadastramentoDe, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.TextBoxFor(model => model.DataCadastramentoDe, new { @class = "form-control data datepicker data", @id = "DataInicial" })
        </div>
    </div>

    <div class='col-sm-12 col-lg-2 col-md-2  form-group-sm form-group has-feedback'>
        @Html.LabelFor(model => model.DataCadastramentoAte, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.TextBoxFor(model => model.DataCadastramentoAte, new { @class = "form-control data datepicker data", @id = "DataFinal" })
        </div>
    </div>

    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
        @Html.LabelFor(model => model.Cancelado, new { @class = "control-label label-form-DER" })<span class='text-danger'></span>
        <div class='input-group-sm'>
            @Html.DropDownListFor(model => model.Cancelado, Model.StatusCanceladoListItems, "Selecione", new { @class = "form-control" })
        </div>
    </div>

</div>



<div class='row'>
    <div class='col-sm-12 col-lg-12 col-md-12 form-group-sm'>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12 col-lg-12 col-md-12 form-group-sm'>
        <button type='button' id='btnPesquisar' class='btn-sm btn btn-primary' onclick='ValidaFormulario();'><i class='glyphicon glyphicon-search'></i> Pesquisar</button>
        <button type='button' id='Create' class='btn btn-sm btn-warning' onclick="javascript: window.location.href = '@Url.Action("Create")';"><i class='glyphicon glyphicon-plus'></i> Cadastrar</button>
        <button type='button' id='btnLimpar' class='btn-sm btn btn-success' onclick='javascript: limparFormulario($("#form_filtro"));'><i class='glyphicon glyphicon-refresh'></i> Limpar</button>
    </div>
</div>

<div class='row'>
    <div class='col-sm-12 col-lg-12 col-md-12 form-group-sm'>
    </div>
</div>
