@using Sids.Prodesp.UI.Areas.Reserva.Models
@model Sids.Prodesp.Model.Entity.Reserva.ReservaCancelamento

@{
    IReservaViewModel _filtro = ViewBag.Filtro ?? new ReservaCancelamentoViewModel();
    string msgRetorno = ViewBag.MsgRetorno;
    var tipo = Request.QueryString["tipo"];

    ViewBag.Title = (Model.Codigo > 0 ? (tipo == "a" ? "Alterar" : "Visualizar") : "Cadastrar") + " Cancelamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var controller = ViewContext.RouteData.GetRequiredString("controller");
}

<script>
    var controller = @Html.Raw(Json.Encode(controller));
    var usuario = @Html.Raw(Json.Encode(ViewBag.Usuario));
    var urlVoltar = '@Url.Action("AtualizarIndex", "ReservaCancelamento", new { Area = "Reserva" }, null)';
    var ModelItem = @Html.Raw(Json.Encode(Model));
    var estruturaInfo = @Html.Raw(Json.Encode(ViewBag.Filtro.Estrutura));
    var programasInfo = @Html.Raw(Json.Encode(ViewBag.Filtro.Programas));
    var selecionado = @Html.Raw(Json.Encode(Model.Programa));
    var regionais = @Html.Raw(Json.Encode(_filtro.Regional));
    var fonteInfo = @Html.Raw(Json.Encode(ViewBag.Filtro.Fonte));
</script>

<div id="divContent" class="col-md-12">
    <h2>@ViewBag.Title</h2>

    @Html.AntiForgeryToken()
    <div id="divPainelCadastrar" class="panel panel-default">
        <div class="panel-body">
            @using (Html.BeginForm("DownloadFile", "ReservaCancelamento", FormMethod.Post, new { name = "frmPainelCadastrar", id = "frmPainelCadastrar" }))
            {
                @Html.HiddenFor(model => model.Codigo, new { @id = "Codigo" })
                <div class="row">
                    <div class="col-sm-12 col-lg-2 col-md-2 form-group-sm form-group">
                        <label class="control-label label-form-DER">Nº Anulação Prodesp</label>
                        <div class="input-group-sm">
                            @Html.TextBoxFor(model => model.NumProdesp, new { @class = "form-control", @ReadOnly = "True" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 col-md-3 form-group-sm form-group">
                        <label class="control-label label-form-DER">Nº Cancelamento SIAFEM/SIAFISICO</label>
                        <div class="input-group-sm">
                            @Html.TextBoxFor(model => model.NumSiafemSiafisico, new { @class = "form-control", @ReadOnly = "True" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h3 class="tituloItensPagina">Pesquisar por Número de Reserva</h3>
                        <hr class="margT10" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-3 col-md-3  form-group-sm form-group has-feedback">
                        <label class="control-label label-form-DER"><span class="text-danger"></span>Nº da Reserva Prodesp</label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.Reserva, new { @class = "form-control siafem prodesp siafisico", @maxlength = "9" })
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm" type="button" onclick="DadosReserva($('#Reserva').val(),0)"><i class="fa fa-search"></i>  Consultar</button>
                            </span>
                        </div>
                    </div>
                </div>

                @Html.Partial("~/Views/Shared/_ConsultaContratoPorEstrutura.cshtml")

                <div id="resultadoConsulta">
                    @if (Model.Codigo > 0)
                    {
                        <div class="row">
                            <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm" id="DataCadasto">
                                <label class="control-label label-form-DER"><span class="text-danger"></span>Data de Cadastramento</label>
                                @Html.TextBoxFor(model => model.DataCadastro, new { @class = "form-control data prodesp", @maxlength = "10", @ReadOnly = "True" })
                            </div>
                            @if ((bool)Model.TransmitidoSiafem || (bool)Model.TransmitidoSiafisico)
                            {
                                <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm" style="width: 19%" id="DataSiafem">
                                    <label class="control-label label-form-DER"><span class="text-danger"></span>Data de Transmissão SIAFEM</label>
                                    @Html.TextBoxFor(model => model.DataTransmissaoSiafemSiafisico, new { @class = "form-control data siafem siafisico", @maxlength = "10", @ReadOnly = "True" })
                                </div>
                            }
                            @if (Model.TransmitidoProdesp == true)
                            {
                                <div class="col-sm-12 col-lg-2 col-md-2  form-group-sm" style="width: 19%" id="DataProdesp">
                                    <label class="control-label label-form-DER"><span class="text-danger"></span>Data de Transmissão Prodesp</label>
                                    @Html.TextBoxFor(model => model.DataTransmissaoProdesp, new { @class = "form-control data prodesp", @maxlength = "10", @ReadOnly = "True" })
                                </div>
                            }
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="tituloItensPagina">Cancelamento</h3>
                            <hr class="margT10" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>OC</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.Oc, new { @class = "form-control siafisico oc", @maxlength = "11" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>UGO</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.Ugo, new { @class = "form-control siafem siafisico", @maxlength = "6" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>UO</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.Uo, new { @class = "form-control siafem", @maxlength = "5" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Destino do Recurso</label>
                            <div class="input-group-sm">
                                @Html.DropDownList("Fontes", new SelectList(_filtro.Fontes, "Value", "Text", Model.DestinoRecurso), "", new { @class = "form-control prodesp", @id = "Fontes" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER">Data do Cancelamento</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.DataEmissao, new { @class = "form-control data datepicker prodesp", @maxlength = "10" })
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Evento</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.Evento, new { @class = "form-control", @maxlength = "6", @ReadOnly = "True" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Nº do Contrato</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.Contrato, new { @class = "form-control", @maxlength = "12", @ReadOnly = "True" })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Código da Obra</label>
                            <div class="input-group-sm">
                                @Html.TextBoxFor(model => model.Obra, new { @class = "form-control", @maxlength = "8", @ReadOnly = "True" })
                            </div>
                        </div>
                    </div>

                    @if (msgRetorno != null)
                    {
                        <div class="row">
                            <div class="col-sm-12 col-lg-5 col-md-5  form-group-sm form-group has-feedback">
                                <div id="retornoTransmissao">
                                    <label class="control-label label-form-DER"><span class="text-danger"></span>Msg Retornada da Transmissão</label>
                                    <div class="input-group-sm">
                                        @Html.TextArea("MsgRetorno", msgRetorno, new { @class = "form-control siafem prodesp siafisico", @ReadOnly = "True" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="tituloItensPagina">Valor para Cancelamento</h3>
                            <hr class="margT10" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Janeiro</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes01", _filtro.Mes1, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "01", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Fevereiro</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes02", _filtro.Mes2, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "02", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Março</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes03", _filtro.Mes3, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "03", })
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Abril</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes04", _filtro.Mes4, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "04", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Maio</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes05", _filtro.Mes5, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "05", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Junho</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes06", _filtro.Mes6, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "06", })
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Julho</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes07", _filtro.Mes7, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "07", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Agosto</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes08", _filtro.Mes8, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "08", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Setembro</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes09", _filtro.Mes9, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "09", })
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Outubro</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes10", _filtro.Mes10, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "10", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Novembro</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes11", _filtro.Mes11, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "11", })
                            </div>
                        </div>
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Dezembro</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Mes12", _filtro.Mes12, new { @class = "form-control pReserva prodesp siafem siafisico real", @id = "Valor", @maxlength = "20", name = "12", })
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-2 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Total</label>
                            <div class="input-group-sm">
                                @Html.TextBox("Total", _filtro.Mes.Sum(x => x.ValorMes).ToString(), new { @class = "form-control siafem prodesp siafisico", @id = "Total", @maxlength = "20", name = "Total", @ReadOnly = "True" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="tituloItensPagina">Autorização</h3>
                            <hr class="margT10" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Autorizado no processo supra as folhas</label>
                            <div class="col-md-10 input-group">
                                @Html.TextBoxFor(model => model.AutorizadoSupraFolha, new { @class = "form-control prodesp pReserva", @maxlength = "4" })
                            </div>
                        </div>
                        <div class="col-md-3 form-group form-group-sm has-feedback">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Código de Especificação de Despesa</label>
                            <div class="col-md-10 input-group">
                                @Html.TextBoxFor(model => model.EspecificacaoDespesa, new { @class = "form-control prodesp pReserva", @maxlength = "3", @id = "EspecDespesa" })
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="form-group form-group-sm has-feedback col-sm-12 col-lg-2 col-md-2" style="width: 760px; ">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Especificação da Despesa (Prodesp)</label>
                            <div id="DescEspecificacaoDespesa" name="DescEspecificacaoDespesa" class="input-group-sm txtarea" style="font: inherit; font-family:monospace; border: 1px solid #ccc;border-radius: 4px;">
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                                <input type="text" class="Proximo prodesp area" maxlength="79" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group form-group-sm has-feedback col-sm-12 col-lg-2 col-md-2" style="width: 760px; ">
                            <label class="control-label label-form-DER"><span class="text-danger"></span>Observações (SIAFEM/SIAFISICO)</label>
                            <div id="Observacao" name="Observacao" class="form-group" style="font-family:monospace; border: 1px solid #ccc; border-radius: 4px;">
                                <input type="text" class="Proximo .label-form-field siafem siafisico area" maxlength="77" />
                                <input type="text" class="Proximo .label-form-field siafem siafisico area" maxlength="77" />
                                <input type="text" class="Proximo .label-form-field siafem siafisico area" maxlength="77" />
                                @*<input type="text" class="Proximo .label-form-field siafem area" maxlength="79" />*@
                            </div>
                        </div>
                    </div>

                    @Html.Partial("~/Views/Shared/_ConsultaAssinatura.cshtml")

                    <div class="row margT10" style="position: relative; float: left">
                        <div class="col-sm-12 col-lg-12 col-md-12 form-group-sm form-group has-feedback">
                            <div class="input-group-sm">
                                <label class="label-inline margL10"><input type="checkbox" class="prodesp" id="transmitirProdesp" name="transmitirSIAFEM" @(Model.TransmitirProdesp == true || Model.Codigo == 0 ? "checked='checked'" : "" ) /> Prodesp</label>
                                <label class="label-inline margL10"><input type="checkbox" class="siafem siafisico" id="transmitirSIAFEM" value="1" name="transmitirSIAFEM" @(Model.TransmitirSiafem == true ? "checked='checked'" : "" ) /> SIAFEM</label>
                            </div>
                            <span>(Selecione a opção na qual você deseja Integrar.)</span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-12 col-md-12" style="position: relative;">
                        @if (Model.TransmitidoProdesp == false || (Model.TransmitidoSiafem == false && Model.TransmitidoSiafisico == false))
                        {
                            <button id="btnCancelar" type="button"><i class="fa fa-share"></i> Cancelar</button>
                            <button id="btnSalvar" type="button" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Salvar</button>
                            <button id="btnTransmitir" type="button" data-button='Transmitir' class="btn btn-sm btn-primary"><i class="fa fa-share"></i> Transmitir</button>

                        }
                        else
                        {
                            <button type="button" id="btnAtualizarIndex" class="btn btn-sm btn-primary" onclick="javascript: AtualizarIndex();"><i class="fa fa-arrow-left"></i> Voltar</button>
                        }
                        <button type="button" id="btnVoltar" onclick="javascript: AtualizarIndex();"></button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section script{
    <script src="~/Content/Bootstrap Validator/js/bootstrapvalidator.min.js"></script>
    <script src="~/Content/js/Reservas/ReservaCancelamento.js"></script>
    <script src="~/Content/js/Consultas.js"></script>
    <script src="~/Content/MaskMoney/jquery.maskMoney.js"></script>
    <script src="~/Content/js/scriptEstruturaPrograma.js"></script>
    <script src="~/Content/js/scriptImpressao.js"></script>
    <script src="~/Content/js/scriptTransmissao.js"></script>
}